#mainHeader{
    min-height: 485px;
    max-height: 40vh;
    height: 40vh;
    position: relative;
}
#mainHeader .language-selection{
    position:absolute;
    right:20px;
    top:10px;
}
#mainHeader .language-selection .lang-icon{
    width:50px;
    height:50px;
    float:left;
    margin-left:15px;
}
#mainHeader img{
    height: 100%;
    width: 100%;
}
#mainHeader .main-Header__text{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%,0);
    text-align: center;
}
#mainHeader .main-Header__text img{
    height: 200px;
    width: 200px;
}
#mainHeader .main-Header__text h1{
    color: #fff; 
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}
#mainHeader .main-Header__text h2{
    color: #fff; 
    font-size: 1.8em;
    font-family: 'Montserrat', sans-serif;
}
#mainHeader .main-Header__text h2 span:nth-child(1){
    color: #007d7d;
}
#mainHeader .main-Header__text h2 span:nth-child(2){
    color: #b7b700;
    
}
#mainHeader .main-Header__text h2 span:nth-child(3){
    color: #d02a00;
    
}
#mainHeader .main-Header__text h2 span:nth-child(4){
    color: #dfc300;
    
}
#mainHeader .main-Header__text h2 span:nth-child(5){
    color: #f0c0c0;
    
}
main{
    margin-top: 40px;
}
.box-navigation{
    display: flex;
    justify-content: space-evenly;
}
.box-navigation .box-navigation__item{
    height: 210px;
    width: 210px;
    /* border-radius: 50%; */
    position: relative;
}
.box-navigation .box-navigation__item a .box-navigation__img:hover{
    box-shadow: 0 0 15px black;
}
.box-navigation .box-navigation__item a .box-navigation__img{
    border-radius: 50%;
    overflow: hidden;
}
.box-navigation .box-navigation__item a .box-navigation__img img{
    width: 100%;
    height: 100%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
.box-navigation .box-navigation__item a h3{
    color:black;
    font-size: 2em; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
.box-navigation .box-navigation__item a .box-navigation__text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    width: 110%;
}

.theme-color__culture{
    border:4px solid #007d7d;
}
.theme-color__art{
    border:4px solid #b7b700;
}
.theme-color__fashion{
    border:4px solid #dfc300;
}
.theme-color__design{
    border:4px solid #d02a00;
}
.theme-color__food{
    border:4px solid #f0c0c0;
}
#mainFooter{
    position: relative;
}
#mainFooter .so-me__icons{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0);
}
#mainFooter a{
    text-decoration: none;
    margin-left:15px;
}
#mainFooter .main-footer__cityscape{
    width:100%;
    height:219px;
}
#mainFooter .instagram-icon{
    height:50px;
    width:50px;
}
#mainFooter .facebook-icon{
    height:50px;
    width:50px;
}