body{
    margin: 0;
    font-family: Montserrat;
}

header{
    max-height: 40vh;
    height: 40vh;
    position: relative;
}

header .language-selection{
    position:absolute;
    right:20px;
    top:10px;
}

header .language-selection .lang-icon{
    width:40px;
    height:40px;
    float:left;
    margin-left:15px;
}

header img{
    height: 100%;
    width: 100%;
}

header .main-Header__text{
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%,0);
    text-align: center;
}

header .main-Header__text img{
    height: auto;
    width: 20%;
}

header .main-Header__text h2{
    color: #fff; 
    font-size: 3.5em;
    margin-bottom: 5px;
    margin-top: 5px;
}

header .main-Header__text h2 span:nth-child(1){
    color: #429699;
}

header .main-Header__text h2 span:nth-child(2){
    color: #a4c859;   
}

header .main-Header__text h2 span:nth-child(3){
    color: #eacb4d;  
}

header .main-Header__text h2 span:nth-child(4){
    color: #e84828;  
}

header .main-Header__text h2 span:nth-child(5){
    color: #edb9d2;
}

main{
    margin-top: 40px;
    min-height: 40vh;
}

.flip-card__navigation{
    display: flex;
    justify-content: space-evenly;
}

.flip-card {
    background-color: transparent;
    width: 210px;
    height: 210px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
} 
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}  
/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  /* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius:50%;
    overflow:hidden;
    box-shadow:0 0 5px black;
}
.flip-card-front img{
      width:100%;
      height:auto;
}
  /* Style the back side */
.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}
.flip-card-back .flip-card-back__text{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    background-color:rgb(0,0,0,0.6);
    width:100%;
}
.flip-card-back .flip-card-back__text h3{
    font-size:22px;
}
.theme-color__culture{
    border:10px solid #429699;
}
.theme-color__art{
    border:10px solid #a4c859;
}
.theme-color__fashion{
    border:10px solid #eacb4d;
}
.theme-color__design{
    border:10px solid #e84828;
}
.theme-color__food{
    border:10px solid #edb9d2;
}
#mainFooter{
    position: relative;
    min-height: 10vh;
}
#mainFooter .so-me__icons{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0);
}
#mainFooter a{
    text-decoration: none;
    margin-left:15px;
}
#mainFooter .main-footer__cityscape{
    width:100%;
    height:219px;
}
#mainFooter .instagram-icon{
    height:50px;
    width:50px;
}
#mainFooter .facebook-icon{
    height:50px;
    width:50px;
}
#mainFooter .main-footer__rightContact{
    position: absolute;
    right: 20px;
    bottom: 0;
    color: #fff;
}
#mainFooter .main-footer__leftContact{
    position: absolute;
    left: 20px;
    bottom: 0;
    color: #fff;
}



footer{
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 768px){

    .flip-card__navigation{
        display: flex;
    }
}

@media only screen and (max-width: 767px){

    header img{
        width: 100%;
        height: auto;
        margin-bottom: 0px;
    }

    header .main-Header__text img{
        height: auto;
        width: 20%;
        margin-bottom: 0%;
    }
    
    header .main-Header__text h2{
        font-size: 1.5em;
        margin-bottom: 25%;
    }

    .main-Header__text .logo{
         height: 80px;
         margin-bottom: 0px;
    }

   header .language-selection{
        position:absolute;
        right:20px;
        top:10px;
    }

    header .language-selection .lang-icon{
        width:30px;
        height:30px;
        float:left;
        margin-left:15px;
    }

    .flip-card__navigation{
        flex-direction: column;
        justify-content: space-between; 
    }

    .flip-card .flip-card-inner .flip-card-front {
        border-radius: 0;
    }

    .flip-card__navigation .flip-card{
        width: 100%;
        height: 74px;
        margin-top: 0px;
    }

    header{
        margin-bottom: 0px;
    }

    main{
        margin-top: 0px;
        min-height: 0vh;
    }
    
    .flip-card__navigation .flip-card:hover .flip-card-inner {
        transform: none;
    }  

    .flip-card__navigation .flip-card .flip-card-inner .flip-card-front{
        display: none;
    }

    .flip-card .flip-card-inner .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: visible;
        transform: none;
      }

    .flip-card .flip-card-inner .flip-card-front.theme-color__culture{
        border:10px solid #429699;
        background-color: #429699;

    }

    .flip-card .flip-card-inner .flip-card-front.theme-color__art{
        border:10px solid #a4c859;
        background-color: #a4c859;
    }

    .flip-card .flip-card-inner .flip-card-front.theme-color__fashion{
        border:10px solid #eacb4d;
        background-color: #eacb4d;
    }

    .flip-card .flip-card-inner .flip-card-front.theme-color__design{
        border:10px solid #dfc300;
        background-color: #dfc300;
    }

    .flip-card .flip-card-inner .flip-card-front.theme-color__food{
        border:10px solid #edb9d2;
        background-color: #edb9d2;
    }

    .flip-card:nth-child(1) .flip-card-inner .flip-card-back .flip-card-back__text{
        background-color:#429699;
    }

    .flip-card:nth-child(2) .flip-card-inner .flip-card-back .flip-card-back__text{
        background-color: #b7b700; 
    }

    .flip-card:nth-child(3) .flip-card-inner .flip-card-back .flip-card-back__text{
        background-color:#d02a00;
    }

    .flip-card:nth-child(4) .flip-card-inner .flip-card-back .flip-card-back__text{
        background-color:#dfc300;
    }

    .flip-card:nth-child(5) .flip-card-inner .flip-card-back .flip-card-back__text{
        background-color:#f0c0c0; 
    }

    footer img{
        width: 100%;
        height: auto;
    }
}

